VITE_AWS_USER_POOL_ID=YOUR_USER_POOL_ID
VITE_AWS_USER_POOL_CLIENT_ID=YOUR_APP_CLIENT_ID
VITE_AWS_COGNITO_DOMAIN=YOUR_COGNITO_DOMAIN.auth.us-east-1.amazoncognito.com
VITE_DEV_ADMIN_EMAIL=admin@example.com
