node_modules

# IDE and Editor files
.vscode/

# Build output
dist/
dist-ssr/
*.local


# Environment files
.env
.env.local
.env.production
.env.deploy
.env.*.local

# kiro
.kiro
.kiro/bedrock-75-questions-generation
.kiro/bedrock-75-questions-generation/.config.kiro
.kiro/bedrock-75-questions-generation/design.md
.kiro/bedrock-75-questions-generation/requirements.md
.kiro/bedrock-75-questions-generation/tasks.md

# tasks
tasks.md
task.md
.config.kiro
desktop.md
